.projects{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 76px 0 32px;
    width: 1140px;
    height: 519px;
    border-radius: 35px;
    background: #FF7315;
}

.computer-window{
    width: 430px;
    height: 329px;
}

h2{
    color: #F9F9F9;
    font-family: Poppins, sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 62px;
}

.compleate{
    margin-top: 16px;
    color: #F9F9F9;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.glad{
    margin-top: 19px;
    color: #F9F9F9;
    font-family: Poppins, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
}

.developer{
    margin-top: 19px;
    width: 570px;
    color: #F9F9F9;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
}