
.project__header {
    height: 48px;
    width: 97%;
    line-height: 48px;
    padding: 0 16px;
    background: #FF7315;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .project__body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    padding: 0;  
  }
  
  .project.active > .project__body {
    max-height: 600px;
  }
  
  .iframe-wrapper {
    position: relative;
    width: 1140px;
    height: 600px;
    overflow: hidden; 
  }

  iframe{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  
  