.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.round{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98px;
    height: 98px;
    border-radius: 50%;
    background: #2222221A;
}
h6{
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    margin-top: 50px;
}
p{
    width: 240px;
    color: #22222280;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-top: 12px;
}














