.greetings{
    margin: 0 auto;
    width: 1140px;
    padding: 100px 26px 125px 32px;
    display: flex;
    justify-content: space-between;
}

h1{
    width: 460px;
    height: 124px;
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: left;
}

.hello{
    width: 509px;
    height: 144px;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;

}



.btn{
    margin-top: 30px;
    gap: 30px;
}

.request{
    width: 151px;
    height: 55px;
    border-radius: 10px;
    background: #FF2950;
    font-family: Poppins, sans-serif ;
    color: #F9F9F9;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    border: none;
    transition: 1s ease;
}

.request:hover{
    box-shadow: 10px 6px 28px -12px rgba(0,0,0,0.75);
}

.cv{
    margin-left: 30px;
    width: 151px;
    height: 55px;
    border-radius: 10px;
    border: 2px solid #FF9B70;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #22222280;
    transition: 1s ease;
}

.cv:hover {
    box-shadow: 10px 6px 28px -12px rgba(0, 0, 0, 0.75);
}