footer{
    margin: 0 auto;
    width: 1140px;
    padding: 100px 26px 125px 32px;
    display: flex;
    justify-content: space-between;
}

footer h2 {
    width: 460px;
    height: 124px;
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: left;
    color: #FF9B70;
}

footer h4{
    width: 420px;
    height: 30px;
    font-family: Poppins, sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-align: left;
    color: #000000;
}

footer .wrap {
    display: flex;
    flex-direction: column;
    align-items: end;
    
}










